<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class = "w-50">
        <a class="navbar-brand text-info" href="#">Members Only</a>
      </div>
      <div class = "d-flex w-50 justify-content-end">        
        <button class="btn btn-outline-success mx-2" type="submit">Sign In</button>
        <button class="btn btn-outline-success mx-2" type="submit">Sign Up</button>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
